@use '~/styles/common' as *;

.layer {
	width: 100%;
	background-color: rgba($color: #fff, $alpha: 0.1);
	margin: 5px 0;

	&[data-selected="true"] {
		border: 1px solid #f50;

	}
}

.inner {
	display: flex;
}

.info {
	flex: 1;
}

.add {
	width: 100px;
}